body {
    font-family: 'helvetica', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container {
    background-color: #0057AD; 
    padding: 20px; 
    display: flex;
}
.navigation {
    background-color: #1153A1;
    padding: 15px;
}
.image {
    border-radius: 10px;  
}
.center-text {
    text-align: center;
    display: flex;
}

.center-text img {
    margin-right: 310px;
    margin-left: 100px;
}
.center-text h1 {
    margin-bottom: 50px;
}
.button{
    background-color: #51FD00;
    color: #FFFFFF ;
    border-radius: 10px;
}
.image-miku {
    margin-left: 330px;
}